* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray: #787c7e;
  --green: #6aaa64;
  --yellow: #c9b458;
  --pink: #ff0f9b;
  --blue: #59c2ff;
  --red: #ff5b5b;
  --select: #0066ff;
  --theme: #588f3f;
  --background: white;
  --tone1: #e6e6e6;
  --foreground: black;
  --transparent: rgba(255, 255, 255, 0.25);
  --semi-transparent: rgba(255, 255, 255, 0.5);

  /* Loading */
  --loading-size: 7vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --gray: #787c7e;
    --green: #6aaa64;
    --yellow: #c9b458;
    --pink: #ff0f9b;
    --blue: #59c2ff;
    --red: #ff5b5b;
    --select: #3355ee;
    --theme: #588f3f;
    --background: #333;
    --tone1: #555;
    --foreground: white;
    --transparent: rgba(0, 0, 0, 0.25);
    --semi-transparent: rgba(0, 0, 0, 0.5);
  
    /* Loading */
    --loading-size: 7vh;
  }

  .inline-icon, .header-icon {
    filter: invert();
  }
}

@font-face {
  font-family: noto;
  src: url(Assets/Noto_Serif_Ethiopic/noto.ttf);
  font-weight: 500;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: noto;
  background-color: var(--background);
  color: var(--foreground);
}

button {
  border: none;
  font-family: noto;
  color: var(--foreground);
}

#load {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: grid;
  place-items: center;
}

#load.hide {
  z-index: 0;
  visibility: hidden;
}

.shapes-5 {
  width: var(--loading-size);
  height: var(--loading-size);
  color: var(--theme);
  background: 
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), 
    linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0);
  background-size: calc(var(--loading-size) / 2 + 1px) calc(var(--loading-size) / 2 + 1px);
  background-repeat: no-repeat;
  animation: sh5 1s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes sh5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: calc(3 * var(--loading-size) / 2);
    height: calc(3 * var(--loading-size) / 2);
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: calc(3 * var(--loading-size) / 2);
    height: calc(3 * var(--loading-size) / 2);
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}

#bar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 10vh;
  width: 100vw;
  border-bottom: 0.375vh solid var(--tone1);
}

#title {
  position: absolute;
  top: 0px;
  left: 20vh;
  height: 100%;
  width: calc(100vw - 40vh);
  text-align: center;
  margin: 0px;
  line-height: 10vh;
  font-size: 7vh;
}

#left-bar {
  position: absolute;
  float: left;
  top: 2.5vh;
  left: 5vh;
  height: 5vh;
  width: 15vh;
  background-color: var(--background);
}

#right-bar {
  position: absolute;
  float: right;
  top: 2.5vh;
  right: 5vh;
  height: 5vh;
  width: 15vh;
  background-color: var(--background);
}

.header-button {
  float: left;
  margin-right: 1vh;
  background-color: var(--background);
  height: 100%;
  padding: 0px;
}

#stats-button {
  margin-left: 4vh;
}

#settings-button {
  margin-right: 0px;
}

.header-icon {
  display: block;
  height: 5vh;
}

#reveal-modal {
  visibility: hidden;
  position: absolute;
  top: 15vh;
  left: calc(50vw - 30vh);
  width: 60vh;
  height: 25vh;
  border-radius: 5vh;
  z-index: 9;
}

@supports (backdrop-filter: blur(1vh)) {
  #reveal-modal {
    background: var(--transparent);
    backdrop-filter: blur(1vh);
  }
}

@supports not (backdrop-filter: blur(1vh)) {
  #reveal-modal {
    background-color: var(--semi-transparent);
  }
}

#reveal-modal.show {
  visibility: visible;
  animation: none;
}

#reveal-modal-content {
  display: block;
  text-align: center;
  width: 50%;
  height: 100%;
  font-size: 5vh;
  margin: auto;
  padding-top: 5vh;
}

#reveal-modal-title {
  height: 7vh;
  line-height: 7vh;
  margin-bottom: 1vh;
}

#reveal-form {
  width: 33%;
  height: 7vh;
  font-size: 2.75vh;
  border-radius: 2.5vh;
  background-color: var(--select);
  color: white;
}

#stats-modal {
  display: none;
  position: absolute;
  visibility: visible;
  position: fixed;
  z-index: 5;
  top: 25vh;
  left: calc(50vw - 25vh);
  width: 50vh;
  height: 50vh;
  background-color: var(--background);
  border-radius: 5vh;
  box-shadow: 0px 0px 10vh 5vh rgba(0, 0, 0, 0.5);
}

#stats-modal.show {
  display: block;
}

#stats-modal-content {
  position: relative;
  margin-top: 5vh;
  margin-left: 5vh;
  width: 40vh;
  height: 40vh;
}

#content {
  position: absolute;
  width: 50vh;
  height: 50vh;
  left: calc(50vw - 25vh);
  top: 17vh;
  padding-top: 2.5vh;
  padding-left: 2.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
}

#keyboard {
  position: absolute;
  width: 66vh;
  height: 20vh;
  left: calc(50vw - 35vh);
  top: 74vh;
  color: var(--foreground);
}

#modal {
  display: none;
  position: fixed;
  z-index: 10;
  width: 50vh;
  height: 50vh;
  left: calc(50vw - 25vh);
  top: 25vh;
  background-color: var(--background);
  border-radius: 5vh;
  box-shadow: 0px 0px 10vh 5vh rgba(0, 0, 0, 0.5);
}

#fireworks {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

#fireworks.show {
  visibility: visible;
}

#modal.show {
  display: block;
}

#modal-content {
  margin-top: 5vh;
  width: 100%;
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  font-size: 20vh;
}

#timer {
  height: 20vh;
  line-height: 20vh;
  text-align: center;
  font-size: 7.5vh;
}

.show {
  -webkit-animation: fadeIn 0.75s;
  animation: fadeIn 0.75s;
}

.hide {
  -webkit-animation: fadeOut 0.75s;
  animation: fadeOut 0.75s;
}

.word {
  width: 100%;
  height: 9vh;
}

.word.hide {
  display: none;
}

.incorrect {
  color: var(--red);
}

.box {
  position: relative;
  float: left;
  width: 8vh;
  height: 8vh;
  line-height: 8vh;
  margin: 0.5vh;
  text-align: center;
  font-size: 4.8vh;
  font-weight: bold;
  border: 0.375vh solid var(--tone1);
}

.box.gray {
  color: white;
  border: 0.375vh solid var(--gray);
  background-color: var(--gray);
}

.box.green {
  color: white;
  border: 0.375vh solid var(--green);
  background-color: var(--green);
}

.box.yellow {
  color: white;
  border: 0.375vh solid var(--yellow);
  background-color: var(--yellow);
}

.box.pink {
  color: white;
  border: 0.375vh solid var(--pink);
  background-color: var(--pink);
}

.box.blue {
  color: white;
  border: 0.375vh solid var(--blue);
  background-color: var(--blue);
}

.box.gray, 
.box.green, 
.box.yellow, 
.box.pink, 
.box.blue {
  animation: 0.5s flip;
}

.box.paint {
  border: 0.375vh solid var(--select);
}

.paint {
  animation: 0.5s focus;
}

.row {
  width: 100%;
  height: 6vh;
  margin-bottom: 0.67vh;
}

.key {
  position: relative;
  width: 5vh;
  height: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
  margin-right: 0.5vh;
  border-radius: 0.5vh;
  background-color: var(--tone1);
  font-size: 3.75vh;
  text-align: center;
  user-select: none;
}

.key.gray {
  color: white;
  background-color: var(--gray);
}

.key.green {
  color: white;
  background-color: var(--green);
}

.key.yellow {
  color: white;
  background-color: var(--yellow);
}

.key.pink {
  color: white;
  background-color: var(--pink);
}

.key.blue {
  color: white;
  background-color: var(--blue);
}

.icon-container {
  background-color: var(--background);
}

.inline-icon {
  height: 3.75vh;
  margin: auto;
  margin-top: 0.625vh;
  display: block;
}

.popup {
  visibility: hidden;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
}

.popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: var(--popup-left);
  margin-left: -1vh;
  border-width: 1vh;
  border-style: solid;
  border-color: var(--background) transparent transparent transparent;
}

.popup.show {
  visibility: visible;
  --popup-left: calc(50% + 0.5vh);

  margin: 0px;
  padding: 0px;

  height: 6vh;
  line-height: 6vh;

  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 0vh 0vh 5vh 1vh rgba(0, 0, 0, 0.25);

  text-align: center;
  border-radius: 1vh;
  z-index: 1;

  top: -6vh;
}

.popup-7 {
  width: 39vh;
  left: -17.625vh;
}

.popup-8 {
  width: 44.5vh;
  left: -20.375vh;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.letter {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0.625vh;
  left: 0vh;
}

.carousel-letter {
  float: left;
  color: var(--foreground);
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  margin-right: 0.5vh;
  margin-top: 0.5vh;
  border-radius: 0.5vh;
}

.carousel-letter.gray {
  background-color: var(--gray);
  color: white;
}

.carousel-letter.green {
  background-color: var(--green);
  color: white;
}

.carousel-letter.yellow {
  background-color: var(--yellow);
  color: white;
}

.carousel-letter.pink {
  background-color: var(--pink);
  color: white;
}

.carousel-letter.blue {
  background-color: var(--blue);
  color: white;
}

.carousel-letter:hover {
  color: var(--select);
}

.carousel-letter.gray:hover,
.carousel-letter.green:hover,
.carousel-letter.yellow:hover,
.carousel-letter.pink:hover,
.carousel-letter.key.blue:hover {
  color: white;
  opacity: 0.75;
}

.carousel-letter-first {
  margin-left: 0.5vh;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes focus {
  0% {
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    font-size: 4.8vh;
  }
  50% {
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    font-size: 3.6vh;
  }
  100% {
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    font-size: 4.8vh;
  }
}

@keyframes flip {
  0% {
    height: 8vh;
    line-height: 8vh;
    margin-top: 0.5vh;
    font-size: 4.8vh;
  }
  50% {
    height: 0vh;
    line-height: 0vh;
    margin-top: 4.5vh;
    font-size: 0vh;
  }
  100% {
    height: 8vh;
    line-height: 8vh;
    margin-top: 0.5vh;
    font-size: 4.8vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  
  #title {
    left: 20vw;
    width: 60vw;
    font-size: 7vw;
  }
  
  #left-bar {
    left: 5vw;
    width: 5vw;
    width: 15vw;
  }
  
  #right-bar {
    right: 5vw;
    width: 5vw;
    width: 15vw;
  }
  
  .header-button {
    margin-right: 1vw;
  }
  
  #stats-button {
    margin-left: 4vw;
  }
  
  .header-icon {
    width: 5vw;
  }
  
  #reveal-modal {
    left: 20vw;
    width: 60vw;
    height: 25vw;
    border-radius: 5vw;
  }
  
  @supports (backdrop-filter: blur(1vw)) {
    #reveal-modal {
      background: var(--transparent);
      backdrop-filter: blur(1vw);
    }
  }
  
  @supports not (backdrop-filter: blur(1vw)) {
    #reveal-modal {
      background-color: var(--semi-transparent);
    }
  }
  
  #reveal-modal-content {
    font-size: 5vw;
    padding-top: 5vw;
  }
  
  #reveal-modal-title {
    height: 7vw;
    line-height: 7vw;
    margin-bottom: 1vw;
  }
  
  #reveal-form {
    height: 7vw;
    font-size: 2.75vw;
    border-radius: 2.5vw;
  }
  
  #stats-modal {
    top: calc(50vh - 25vw);
    left: 25vw;
    width: 50vw;
    height: 50vw;
    border-radius: 5vw;
    box-shadow: 0px 0px 10vw 5vw rgba(0, 0, 0, 0.5);
  }
  
  #stats-modal-content {
    margin-top: 5vw;
    margin-left: 5vw;
    width: 40vw;
    height: 40vw;
  }
  
  #content {
    width: 67vw;
    left: 16.5vw;
    padding-top: calc(25vh - 22.5vw);
    padding-left: 11vw;
  }
  
  #keyboard {
    width: 80vw;
    left: 10vw;
  }
  
  #modal {
    width: 50vw;
    height: 50vw;
    left: 25vw;
    top: calc(50vh - 25vw);
    border-radius: 5vw;
    box-shadow: 0px 0px 10vw 5vw rgba(0, 0, 0, 0.5);
  }
  
  #modal-content {
    margin-top: 5vw;
    height: 20vw;
    line-height: 20vw;
    font-size: 20vw;
  }
  
  #timer {
    height: 20vw;
    line-height: 20vw;
    font-size: 7.5vw;
  }
  
  .word {
    height: 9vw;
  }
  
  .box {
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    margin: 0.5vw;
    font-size: 4.8vw;
    border: 0.375vw solid var(--tone1);
  }
  
  .box.gray, 
  .box.green, 
  .box.yellow, 
  .box.pink, 
  .box.blue {
    animation: 0.5s flipSquare;
    border-width: 0.375vw;
  }
  
  .box.paint {
    border: 0.375vw solid var(--select);
  }
  
  .paint {
    animation: 0.5s focusSquare;
  }
  
  .key {
    width: 6vw;
    margin-right: 0.66vw;
  }
  
  .inline-icon {
    height: 3.75vw;
  }
  
  .popup::after {
    left: var(--popup-left);
    margin-left: -1vw;
    border-width: 1vw;
  }
  
  .popup.show {
    --popup-left: calc(50% + 1vw);
    box-shadow: 0vh 0vh 5vw 1vw rgba(0, 0, 0, 0.25);
  }

  @keyframes focusSquare {
    0% {
      width: 8vw;
      height: 8vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      line-height: 8vw;
      font-size: 4.8vw;
    }
    50% {
      width: 6vw;
      height: 6vw;
      margin-top: 1.5vw;
      margin-left: 1.5vw;
      margin-right: 1.5vw;
      line-height: 6vw;
      font-size: 3.6vw;
    }
    100% {
      width: 8vw;
      height: 8vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      line-height: 8vw;
      font-size: 4.8vw;
    }
  }

  @keyframes flipSquare {
    0% {
      height: 8vw;
      line-height: 8vw;
      margin-top: 0.5vw;
      font-size: 4.8vw;
    }
    50% {
      height: 0vw;
      line-height: 0vw;
      margin-top: 4.5vw;
      font-size: 0vw;
    }
    100% {
      height: 8vw;
      line-height: 8vw;
      margin-top: 0.5vw;
      font-size: 4.8vw;
    }
  }

}
