* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray: #787c7e;
  --green: #6aaa64;
  --yellow: #c9b458;
  --pink: #ff0f9b;
  --blue: #59c2ff;
  --theme: #588f3f;

  /* Loading */
  --loading-size: 7vw;
}

body {
  position: absolute;
  left: 25vw;
  width: 50vw;
  text-align: left;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

button {
  border: none;
}

.word {
  width: 100%;
  height: 6vw;
  padding-left: 5.5vw;
}

.word.hide {
  display: none;
}

.incorrect {
  color: rgb(200, 0, 0);
}

.box {
  position: relative;
  float: left;
  width: 6vw;
  height: 6vw;
  line-height: 6vw;
  margin: 0.5vw;
  text-align: center;
  font-size: 3.6vw;
  font-weight: bold;
  border: 0.375vw solid #e6e6e6;
}

.box.gray {
  color: white;
  border: 0.375vw solid var(--gray);
  background-color: var(--gray);
}

.box.green {
  color: white;
  border: 0.375vw solid var(--green);
  background-color: var(--green);
}

.box.yellow {
  color: white;
  border: 0.375vw solid var(--yellow);
  background-color: var(--yellow);
}

.box.pink {
  color: white;
  border: 0.375vw solid var(--pink);
  background-color: var(--pink);
}

.box.blue {
  color: white;
  border: 0.375vw solid var(--blue);
  background-color: var(--blue);
}

.box.gray,
.box.green,
.box.yellow,
.box.pink,
.box.blue {
  animation: 0.5s flip;
}

.box.paint {
  border: 0.375vw solid #0066ff;
}

.paint {
  animation: 0.5s focus;
}

@keyframes flip {
  0% {
    height: 6vw;
    margin-top: 0.5vw;
    font-size: 3.6vw;
  }
  50% {
    height: 0vw;
    margin-top: 3vw;
    font-size: 0vw;
  }
  100% {
    height: 6vw;
    margin-top: 0.5vw;
    font-size: 3.6vw;
  }
}

/* @media (orientation: portrait) {

  .word {
    width: 100%;
    height: 9vw;
  }

  .box {
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    margin: 0.5vw;
    float: left;
    text-align: center;
    font-size: 4.8vw;
    font-weight: bold;
    border: 0.375vw solid #e6e6e6;
  }

  .paint {
    animation: 0.5s focusPortrait;
  }

  .box.gray,
  .box.green,
  .box.yellow,
  .box.pink,
  .box.blue {
    animation: 0.5s flipPortrait;
  }

  @keyframes focusPortrait {
    0% {
      width: 8vw;
      height: 8vw;
      line-height: 8vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      font-size: 4.8vw;
    }
    50% {
      width: 6vw;
      height: 6vw;
      line-height: 6vw;
      margin-top: 1.5vw;
      margin-left: 1.5vw;
      margin-right: 1.5vw;
      font-size: 3.6vw;
    }
    100% {
      width: 8vw;
      height: 8vw;
      line-height: 8vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      font-size: 4.8vw;
    }
  }

  @keyframes flipPortrait {
    0% {
      height: 8vw;
      margin-top: 0.5vw;
      font-size: 4.8vw;
    }
    50% {
      height: 0vw;
      margin-top: 4.5vw;
      font-size: 0vw;
    }
    100% {
      height: 8vw;
      margin-top: 0.5vw;
      font-size: 4.8vw;
    }
  }
}

@media (orientation: portrait) and (max-width: 450px) {

  .word {
    width: 100%;
    height: 13vw;
  }

  .box {
    width: 12vw;
    height: 12vw;
    line-height: 12vw;
    margin: 0.5vw;
    float: left;
    text-align: center;
    font-size: 11.52vw;
    font-weight: bold;
    border: 0.375vw solid #e6e6e6;
  }

  .paint {
    animation: 0.5s focusMobile;
  }

  .box.gray,
  .box.green,
  .box.yellow,
  .box.pink,
  .box.blue {
    animation: 0.5s flipMobile;
  }

  @keyframes focusMobile {
    0% {
      width: 12vw;
      height: 12vw;
      line-height: 12vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      font-size: 11.52vw;
    }
    50% {
      width: 9vw;
      height: 9vw;
      line-height: 9vw;
      margin-top: 2vw;
      margin-left: 2vw;
      margin-right: 2vw;
      font-size: 8.64vw;
    }
    100% {
      width: 12vw;
      height: 12vw;
      line-height: 12vw;
      margin-top: 0.5vw;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      font-size: 11.52vw;
    }
  }

  @keyframes flipMobile {
    0% {
      height: 12vw;
      margin-top: 0.5vw;
      font-size: 11.52vw;
    }
    50% {
      height: 0vw;
      margin-top: 6.5vw;
      font-size: 0vw;
    }
    100% {
      height: 12vw;
      margin-top: 0.5vw;
      font-size: 11.52vw;
    }
  }
} */
