* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray: #787c7e;
  --green: #6aaa64;
  --yellow: #c9b458;
  --pink: #ff0f9b;
  --blue: #59c2ff;
  --theme: #588f3f;

  /* Loading */
  --loading-size: 7vw;
}

@font-face {
  font-family: noto;
  src: url(../Assets/Noto_Serif_Ethiopic/noto.ttf);
}

body {
  position: absolute;
  left: 25vw;
  width: 50vw;
  font-family: noto;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #333;
    color: #fff;
  }

  a {
    color: #0af;
    font-weight: bold;
  }  

  a:visited {
    color: #0af;
  }

}

@media (max-aspect-ratio: 1/1) {

  body {
    position: absolute;
    left: 20vw;
    width: 60vw;
  }

}

@media (max-aspect-ratio: 2/3) {

  body {
    position: absolute;
    left: 10vw;
    width: 80vw;
  }

  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
  }

}

h1 {
  font-size: 6vh;
}

p {
  font-size: 3vh;
}
