* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray: #787c7e;
  --green: #6aaa64;
  --yellow: #c9b458;
  --pink: #ff0f9b;
  --blue: #59c2ff;
  --theme: #588f3f;

  /* Loading */
  --loading-size: 7vw;
}

@font-face {
  font-family: noto;
  src: url(../Assets/Noto_Serif_Ethiopic/noto.ttf);
}

body {
  position: absolute;
  left: 25vw;
  width: 50vw;
  text-align: left;
  margin-top: 5vh;
  font-family: noto;
}

button {
  background-color: var(--theme);
  color: white;
  border: none;
  padding: 1.5vh;
  font-size: 3vh;
  border-radius: 1.75vh;
  cursor: pointer;
}

button:hover {
  box-shadow: 0.5vh 0.5vh 2.5vh 0.25vh rgba(0, 0, 0, 0.35);
}

#tutorial {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  background-color: #eee;
  padding: 2vh;
  padding-bottom: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  border-radius: 1.75vh;
}

#closing {
  padding-bottom: 5vh;
}

#des {
  font-size: 4vh;
  margin-top: 2.5vh;
}

.gray-des {
  color: var(--gray);
  font-weight: bold;
}

.blue-des {
  color: var(--blue);
  font-weight: bold;
}

.yellow-des {
  color: var(--yellow);
  font-weight: bold;
}

.pink-des {
  color: var(--pink);
  font-weight: bold;
}

.green-des {
  color: var(--green);
  font-weight: bold;
}

.red-des {
  color: var(--red);
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #333;
    color: #fff;
  }

  a {
    color: #0af;
    font-weight: bold;
  }  

  a:visited {
    color: #0af;
  }

  #tutorial {
    background-color: #444;
    color: #fff;
  }

}

@media (max-aspect-ratio: 6/5) {

  body {
    position: absolute;
    left: 20vw;
    width: 60vw;
  }

  #tutorial {
    width: 70vw;
    margin-left: -5vw;
  }

}

@media (max-aspect-ratio: 2/3) {

  body {
    position: absolute;
    left: 10vw;
    width: 80vw;
  }

  h1 {
    font-size: 6vw;
  }

  p {
    font-size: 3vw;
  }

  #tutorial {
    width: 90vw;
    margin-left: -5vw;
  }

}

h1 {
  font-size: 6vh;
}

p {
  font-size: 3vh;
}
